# Mindex Data Challenge

Use the boto3 library to configure access to a Mindex AWS S3 bucket

In [49]:
import boto3
import pandas as pd

In [50]:
client = boto3.client(
    's3',
    aws_access_key_id="AKIAZZ33YB65GZIN656A",
    aws_secret_access_key="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",
)

In [51]:
client.download_file('mindex-data-analytics-code-challenge', 'bengals.csv', 'bengals.csv')
client.download_file('mindex-data-analytics-code-challenge', 'boyd_receiving.csv', 'boyd_receiving.csv')
client.download_file('mindex-data-analytics-code-challenge', 'chase_receiving.csv', 'chase_receiving.csv')
client.download_file('mindex-data-analytics-code-challenge', 'higgins_receiving.csv', 'higgins_receiving.csv')

In [52]:
!ls # files are there

bengals.csv    boyd_receiving.csv   higgins_receiving.csv
Bengals.ipynb  chase_receiving.csv  README.md

In [53]:
bengals_df = pd.read_csv("bengals.csv")
boyd_df = pd.read_csv("boyd_receiving.csv")
chase_df = pd.read_csv("chase_receiving.csv")
higgins_df = pd.read_csv("higgins_receiving.csv")

In [54]:
pd.set_option('display.max_rows', 50)
bengals_df

     Week Opponent Location  Result
0    PRE1       TB     Away     1.0
1    PRE2      WSH     Away     0.0
2    PRE3      MIA     Home     0.0
3    REG1      MIN     Home     1.0
4    REG2      CHI     Away     0.0
5    REG3      PIT     Away     1.0
6    REG4      JAX     Home     1.0
7    REG5       GB     Home     0.0
8    REG6      DET     Away     1.0
9    REG7      BAL     Away     1.0
10   REG8      NYJ     Away     0.0
11   REG9      CLE     Home     0.0
12  REG10      NaN      NaN     NaN
13  REG11       LV     Away     1.0
14  REG12      PIT     Home     1.0
15  REG13      LAC     Home     0.0
16  REG14       SF     Home     0.0
17  REG15      DEN     Away     1.0
18  REG16      BAL     Home     1.0
19  REG17       KC     Home     1.0
20  REG18      CLE     Away     0.0
21  POST1       LV     Home     1.0
22  POST2      TEN     Away     1.0
23  POST3       KC     Away     1.0
24  POST4      LAR  Neutral     0.0

In [55]:
# edit reciever's dataframe column names
boyd_df.rename(columns={'Yards': 'Boyd Yards', 'TD': 'Boyd TD'}, inplace=True)
chase_df.rename(columns={'Yards': 'Chase Yards', 'TD': 'Chase TD'}, inplace=True)
higgins_df.rename(columns={'Yards': 'Higgins Yards', 'TD': 'Higgins TD'}, inplace=True)

In [56]:
boyd_df.head(5)

   Week  Boyd Yards  Boyd TD
0  REG1          32        0
1  REG2          73        0
2  REG3          36        1
3  REG4         118        0
4  REG5          24        0

In [57]:
chase_df.head(5)

   Week  Chase Yards  Chase TD
0  REG1          101         1
1  REG2           54         1
2  REG3           65         2
3  REG4           77         0
4  REG5          159         1

In [58]:
 higgins_df.head(5)

   Week  Higgins Yards  Higgins TD
0  REG1             58           1
1  REG2             60           1
2  REG5             32           0
3  REG6             44           0
4  REG7             62           0

In [59]:
df = bengals_df.set_index('Week').join(boyd_df.set_index('Week'))

In [60]:
df.reset_index(inplace=True)

In [61]:
df = pd.merge(df, chase_df, on="Week", how="outer") # outer is union,

In [62]:
df =  pd.merge(df, higgins_df, on="Week", how="outer") # outer is union,

In [63]:
df

,Week,Opponent,Location,Result,Boyd Yards,Boyd TD,Chase Yards,Chase TD,Higgins Yards,Higgins TD
0,PRE1,TB,Away,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,PRE2,WSH,Away,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,PRE3,MIA,Home,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,REG1,MIN,Home,1.0,32.0,0.0,101.0,1.0,58.0,1.0
4,REG2,CHI,Away,0.0,73.0,0.0,54.0,1.0,60.0,1.0
5,REG3,PIT,Away,1.0,36.0,1.0,65.0,2.0,NaN,NaN
6,REG4,JAX,Home,1.0,118.0,0.0,77.0,0.0,NaN,NaN
7,REG5,GB,Home,0.0,24.0,0.0,159.0,1.0,32.0,0.0
8,REG6,DET,Away,1.0,7.0,0.0,97.0,0.0,44.0,0.0
9,REG7,BAL,Away,1.0,39.0,0.0,201.0,1.0,62.0,0.0
10,REG8,NYJ,Away,0.0,69.0,1.0,32.0,1.0,97.0,0.0
11,REG9,CLE,Home,0.0,11.0,0.0,49.0,0.0,78.0,0.0
12,REG10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,REG11,LV,Away,1.0,49.0,0.0,32.0,1.0,15.0,0.0
14,REG12,PIT,Home,1.0,13.0,0.0,39.0,0.0,114.0,1.0
15,REG13,LAC,Home,0.0,85.0,0.0,52.0,0.0,138.0,1.0
16,REG14,SF,Home,0.0,55.0,0.0,77.0,2.0,114.0,0.0
17,REG15,DEN,Away,1.0,96.0,1.0,3.0,0.0,23.0,0.0
18,REG16,BAL,Home,1.0,85.0,1.0,125.0,0.0,194.0,2.0
19,REG17,KC,Home,1.0,36.0,1.0,266.0,3.0,62.0,0.0
20,REG18,CLE,Away,0.0,NaN,NaN,26.0,0.0,NaN,NaN
21,POST1,LV,Home,1.0,26.0,1.0,116.0,0.0,10.0,0.0
22,POST2,TEN,Away,1.0,17.0,0.0,109.0,0.0,96.0,0.0
23,POST3,KC,Away,1.0,19.0,0.0,54.0,1.0,103.0,0.0
24,POST4,LAR,Neutral,0.0,48.0,0.0,89.0,0.0,100.0,2.0

In [64]:
df = df.fillna(0)

In [65]:
df

,Week,Opponent,Location,Result,Boyd Yards,Boyd TD,Chase Yards,Chase TD,Higgins Yards,Higgins TD
0,PRE1,TB,Away,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,PRE2,WSH,Away,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,PRE3,MIA,Home,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,REG1,MIN,Home,1.0,32.0,0.0,101.0,1.0,58.0,1.0
4,REG2,CHI,Away,0.0,73.0,0.0,54.0,1.0,60.0,1.0
5,REG3,PIT,Away,1.0,36.0,1.0,65.0,2.0,0.0,0.0
6,REG4,JAX,Home,1.0,118.0,0.0,77.0,0.0,0.0,0.0
7,REG5,GB,Home,0.0,24.0,0.0,159.0,1.0,32.0,0.0
8,REG6,DET,Away,1.0,7.0,0.0,97.0,0.0,44.0,0.0
9,REG7,BAL,Away,1.0,39.0,0.0,201.0,1.0,62.0,0.0
10,REG8,NYJ,Away,0.0,69.0,1.0,32.0,1.0,97.0,0.0
11,REG9,CLE,Home,0.0,11.0,0.0,49.0,0.0,78.0,0.0
12,REG10,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,REG11,LV,Away,1.0,49.0,0.0,32.0,1.0,15.0,0.0
14,REG12,PIT,Home,1.0,13.0,0.0,39.0,0.0,114.0,1.0
15,REG13,LAC,Home,0.0,85.0,0.0,52.0,0.0,138.0,1.0
16,REG14,SF,Home,0.0,55.0,0.0,77.0,2.0,114.0,0.0
17,REG15,DEN,Away,1.0,96.0,1.0,3.0,0.0,23.0,0.0
18,REG16,BAL,Home,1.0,85.0,1.0,125.0,0.0,194.0,2.0
19,REG17,KC,Home,1.0,36.0,1.0,266.0,3.0,62.0,0.0
20,REG18,CLE,Away,0.0,0.0,0.0,26.0,0.0,0.0,0.0
21,POST1,LV,Home,1.0,26.0,1.0,116.0,0.0,10.0,0.0
22,POST2,TEN,Away,1.0,17.0,0.0,109.0,0.0,96.0,0.0
23,POST3,KC,Away,1.0,19.0,0.0,54.0,1.0,103.0,0.0
24,POST4,LAR,Neutral,0.0,48.0,0.0,89.0,0.0,100.0,2.0

In [92]:
replace_keys = {
    0.0 : "Loss",
    1.0 : "Win"
}

df = df.replace({"Result" : replace_keys})
df.at[12, 'Result']

In [98]:
df.at[12, 'Result'] = "Bye"

In [99]:
df

,Week,Opponent,Location,Result,Boyd Yards,Boyd TD,Chase Yards,Chase TD,Higgins Yards,Higgins TD
0,PRE1,TB,Away,Win,0.0,0.0,0.0,0.0,0.0,0.0
1,PRE2,WSH,Away,Loss,0.0,0.0,0.0,0.0,0.0,0.0
2,PRE3,MIA,Home,Loss,0.0,0.0,0.0,0.0,0.0,0.0
3,REG1,MIN,Home,Win,32.0,0.0,101.0,1.0,58.0,1.0
4,REG2,CHI,Away,Loss,73.0,0.0,54.0,1.0,60.0,1.0
5,REG3,PIT,Away,Win,36.0,1.0,65.0,2.0,0.0,0.0
6,REG4,JAX,Home,Win,118.0,0.0,77.0,0.0,0.0,0.0
7,REG5,GB,Home,Loss,24.0,0.0,159.0,1.0,32.0,0.0
8,REG6,DET,Away,Win,7.0,0.0,97.0,0.0,44.0,0.0
9,REG7,BAL,Away,Win,39.0,0.0,201.0,1.0,62.0,0.0
10,REG8,NYJ,Away,Loss,69.0,1.0,32.0,1.0,97.0,0.0
11,REG9,CLE,Home,Loss,11.0,0.0,49.0,0.0,78.0,0.0
12,REG10,0,0,Bye,0.0,0.0,0.0,0.0,0.0,0.0
13,REG11,LV,Away,Win,49.0,0.0,32.0,1.0,15.0,0.0
14,REG12,PIT,Home,Win,13.0,0.0,39.0,0.0,114.0,1.0
15,REG13,LAC,Home,Loss,85.0,0.0,52.0,0.0,138.0,1.0
16,REG14,SF,Home,Loss,55.0,0.0,77.0,2.0,114.0,0.0
17,REG15,DEN,Away,Win,96.0,1.0,3.0,0.0,23.0,0.0
18,REG16,BAL,Home,Win,85.0,1.0,125.0,0.0,194.0,2.0
19,REG17,KC,Home,Win,36.0,1.0,266.0,3.0,62.0,0.0
20,REG18,CLE,Away,Loss,0.0,0.0,26.0,0.0,0.0,0.0
21,POST1,LV,Home,Win,26.0,1.0,116.0,0.0,10.0,0.0
22,POST2,TEN,Away,Win,17.0,0.0,109.0,0.0,96.0,0.0
23,POST3,KC,Away,Win,19.0,0.0,54.0,1.0,103.0,0.0
24,POST4,LAR,Neutral,Loss,48.0,0.0,89.0,0.0,100.0,2.0

In [100]:
import psycopg2
from sqlalchemy import create_engine

In [101]:
engine = create_engine('postgresql://jared_wofford:waredjofford@ls-2619b6b15c9bdc80a23f6afb7eee54cf0247da21.ca3yee6xneaj.us-east-1.rds.amazonaws.com:5432/postgres')
df.to_sql('jared_wofford', engine, if_exists='replace', index=False)

25

In [102]:
sql = "SELECT * FROM jared_wofford"
jared_wofford_df = pd.read_sql(sql,con=engine)

In [103]:
jared_wofford_df

,Week,Opponent,Location,Result,Boyd Yards,Boyd TD,Chase Yards,Chase TD,Higgins Yards,Higgins TD
0,PRE1,TB,Away,Win,0.0,0.0,0.0,0.0,0.0,0.0
1,PRE2,WSH,Away,Loss,0.0,0.0,0.0,0.0,0.0,0.0
2,PRE3,MIA,Home,Loss,0.0,0.0,0.0,0.0,0.0,0.0
3,REG1,MIN,Home,Win,32.0,0.0,101.0,1.0,58.0,1.0
4,REG2,CHI,Away,Loss,73.0,0.0,54.0,1.0,60.0,1.0
5,REG3,PIT,Away,Win,36.0,1.0,65.0,2.0,0.0,0.0
6,REG4,JAX,Home,Win,118.0,0.0,77.0,0.0,0.0,0.0
7,REG5,GB,Home,Loss,24.0,0.0,159.0,1.0,32.0,0.0
8,REG6,DET,Away,Win,7.0,0.0,97.0,0.0,44.0,0.0
9,REG7,BAL,Away,Win,39.0,0.0,201.0,1.0,62.0,0.0
10,REG8,NYJ,Away,Loss,69.0,1.0,32.0,1.0,97.0,0.0
11,REG9,CLE,Home,Loss,11.0,0.0,49.0,0.0,78.0,0.0
12,REG10,0,0,Bye,0.0,0.0,0.0,0.0,0.0,0.0
13,REG11,LV,Away,Win,49.0,0.0,32.0,1.0,15.0,0.0
14,REG12,PIT,Home,Win,13.0,0.0,39.0,0.0,114.0,1.0
15,REG13,LAC,Home,Loss,85.0,0.0,52.0,0.0,138.0,1.0
16,REG14,SF,Home,Loss,55.0,0.0,77.0,2.0,114.0,0.0
17,REG15,DEN,Away,Win,96.0,1.0,3.0,0.0,23.0,0.0
18,REG16,BAL,Home,Win,85.0,1.0,125.0,0.0,194.0,2.0
19,REG17,KC,Home,Win,36.0,1.0,266.0,3.0,62.0,0.0
20,REG18,CLE,Away,Loss,0.0,0.0,26.0,0.0,0.0,0.0
21,POST1,LV,Home,Win,26.0,1.0,116.0,0.0,10.0,0.0
22,POST2,TEN,Away,Win,17.0,0.0,109.0,0.0,96.0,0.0
23,POST3,KC,Away,Win,19.0,0.0,54.0,1.0,103.0,0.0
24,POST4,LAR,Neutral,Loss,48.0,0.0,89.0,0.0,100.0,2.0

In [104]:
SELECT SUM("Boyd Yards"), SUM("Chase Yards"), SUM("Higgins Yards")
FROM jared_wofford;

SyntaxError: invalid syntax (566449279.py, line 1)

In [ ]:


select 
concat(count(case when "Result" = 'Win' then 1 else null end), '-', count(case when "Result" = 'Loss' then 1 else null end)) as "Win/Loss"
from jared_wofford ;

select 
SUM("Boyd Yards") as "Boyd Yards" , SUM("Higgins Yards") as "Higgins Yards", SUM("Chase Yards") as "Chase Yards",
concat(count(case when "Result" = 'Win' then 1 else null end), '-', count(case when "Result" = 'Loss' then 1 else null end)) as "Win/Loss"
from jared_wofford ;