# Mindex Data Challenge

# Background:
In 2021, the Cincinnati Bengals came so close to winning their first NFL
Championship, using the 4 data files located on the Mindex AWS S3 Bucket:
- *bengals.csv*: catalog of the Bengals wins and losses.
- *boyd_receiving.csv*: catalog of pass catcher Tyler Boyd’s stats.
- *chase_receiving.csv*: catalog of pass catcher Ja’Marr Chase’s stats.
- *higgins_receiving.csv*: catalog of pass catcher Tee Higgins’s stats.

Use the boto3 library to configure access to a Mindex AWS S3 bucket

In [49]:
# imports 
import boto3 # used to access data bucket
import pandas as pd # read/manipulate dataframes
import psycopg2
from sqlalchemy import create_engine

The first thing I need to leverage boto3 to access the data bucket, and download the *.csv* files. The credentials were supplied in the *.pdf* of the data challenge

In [50]:
# Create service client, given the credentials supplied by the data challenge
client = boto3.client(
    's3',
    aws_access_key_id="AKIAZZ33YB65GZIN656A",
    aws_secret_access_key="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",
)

In [51]:
# download all 4 csv files
client.download_file('mindex-data-analytics-code-challenge', 'bengals.csv', 'bengals.csv')
client.download_file('mindex-data-analytics-code-challenge', 'boyd_receiving.csv', 'boyd_receiving.csv')
client.download_file('mindex-data-analytics-code-challenge', 'chase_receiving.csv', 'chase_receiving.csv')
client.download_file('mindex-data-analytics-code-challenge', 'higgins_receiving.csv', 'higgins_receiving.csv')

Run the bash command *ls* to list the files in this directory, to check that the files have been recieved.

In [52]:
# check files are there using bash 
!ls

bengals.csv    boyd_receiving.csv   higgins_receiving.csv
Bengals.ipynb  chase_receiving.csv  README.md

In [53]:
# using pandas read these into dataframes
bengals_df = pd.read_csv("bengals.csv")
boyd_df = pd.read_csv("boyd_receiving.csv")
chase_df = pd.read_csv("chase_receiving.csv")
higgins_df = pd.read_csv("higgins_receiving.csv")

Let's look at the dataframes to know what type of tables we're working with.

In [54]:
# suppress rows to view the data frame without scrolling
# pd.set_option('display.max_rows', 6)

# print out the dataframe
bengals_df

     Week Opponent Location  Result
0    PRE1       TB     Away     1.0
1    PRE2      WSH     Away     0.0
2    PRE3      MIA     Home     0.0
3    REG1      MIN     Home     1.0
4    REG2      CHI     Away     0.0
5    REG3      PIT     Away     1.0
6    REG4      JAX     Home     1.0
7    REG5       GB     Home     0.0
8    REG6      DET     Away     1.0
9    REG7      BAL     Away     1.0
10   REG8      NYJ     Away     0.0
11   REG9      CLE     Home     0.0
12  REG10      NaN      NaN     NaN
13  REG11       LV     Away     1.0
14  REG12      PIT     Home     1.0
15  REG13      LAC     Home     0.0
16  REG14       SF     Home     0.0
17  REG15      DEN     Away     1.0
18  REG16      BAL     Home     1.0
19  REG17       KC     Home     1.0
20  REG18      CLE     Away     0.0
21  POST1       LV     Home     1.0
22  POST2      TEN     Away     1.0
23  POST3       KC     Away     1.0
24  POST4      LAR  Neutral     0.0

In [106]:
# display dataframe for Tyler Boyd
boyd_df

     Week  Boyd Yards  Boyd TD
0    REG1          32        0
1    REG2          73        0
2    REG3          36        1
3    REG4         118        0
4    REG5          24        0
5    REG6           7        0
6    REG7          39        0
7    REG8          69        1
8    REG9          11        0
9   REG11          49        0
10  REG12          13        0
11  REG13          85        0
12  REG14          55        0
13  REG15          96        1
14  REG16          85        1
15  REG17          36        1
16  POST1          26        1
17  POST2          17        0
18  POST3          19        0
19  POST4          48        0

In [107]:
# display dataframe for Ja'Marr Chase
chase_df

     Week  Chase Yards  Chase TD
0    REG1          101         1
1    REG2           54         1
2    REG3           65         2
3    REG4           77         0
4    REG5          159         1
5    REG6           97         0
6    REG7          201         1
7    REG8           32         1
8    REG9           49         0
9   REG11           32         1
10  REG12           39         0
11  REG13           52         0
12  REG14           77         2
13  REG15            3         0
14  REG16          125         0
15  REG17          266         3
16  REG18           26         0
17  POST1          116         0
18  POST2          109         0
19  POST3           54         1
20  POST4           89         0

In [108]:
# display dataframe for Tee Higgins
higgins_df

     Week  Higgins Yards  Higgins TD
0    REG1             58           1
1    REG2             60           1
2    REG5             32           0
3    REG6             44           0
4    REG7             62           0
5    REG8             97           0
6    REG9             78           0
7   REG11             15           0
8   REG12            114           1
9   REG13            138           1
10  REG14            114           0
11  REG15             23           0
12  REG16            194           2
13  REG17             62           0
14  POST1             10           0
15  POST2             96           0
16  POST3            103           0
17  POST4            100           2

The instructions say to join or merge all of the dataframes together to display one global table that shows
the three different receiver’s yards and touchdown (TD) data as well as every game result, including the columns for Opponent, Location, and Result fields from the bengals.csv file.

To do this, first rename keys {Yards, TD} of the same name from the player's dataframes.

In [55]:
# rename reciever's dataframe column names for Yards and TD using dictionary like transformation
boyd_df.rename(columns={'Yards': 'Boyd Yards', 'TD': 'Boyd TD'}, inplace=True)
chase_df.rename(columns={'Yards': 'Chase Yards', 'TD': 'Chase TD'}, inplace=True)
higgins_df.rename(columns={'Yards': 'Higgins Yards', 'TD': 'Higgins TD'}, inplace=True)

Check that the columns have been renamed

In [56]:
# display the first 5 rows of the dataframe 
boyd_df.head(5)

   Week  Boyd Yards  Boyd TD
0  REG1          32        0
1  REG2          73        0
2  REG3          36        1
3  REG4         118        0
4  REG5          24        0

In [57]:
# display the first 5 rows of the dataframe 
chase_df.head(5)

   Week  Chase Yards  Chase TD
0  REG1          101         1
1  REG2           54         1
2  REG3           65         2
3  REG4           77         0
4  REG5          159         1

In [58]:
 # display the first 5 rows of the dataframe 
higgins_df.head(5)

   Week  Higgins Yards  Higgins TD
0  REG1             58           1
1  REG2             60           1
2  REG5             32           0
3  REG6             44           0
4  REG7             62           0

Now that the Yard and TD column names are unique for the receivers, first make a new data frame joining the Bengals dataframe with the dataframe of first reciever Tyler Boyd.

In [59]:
# join dataframes by column Week
df = bengals_df.set_index('Week').join(boyd_df.set_index('Week'))

# reset the level of the index so that week is added a column
df.reset_index(inplace=True)

Now merge the combined dataframe with the dataframes of the two other recievers: Ja'Marr Chase and Tee Higgins. Merge on the column "Week", and specify how to do this as the union of the dataframes, so that even if the receiver has not played that week, their stats are filled in as "NaN"

In [61]:
# merge the bengals/boyd dataframe with the chase_df on the week column

df = pd.merge(df, chase_df, on="Week", how="outer") # outer is union,

In [62]:
# again merge the bengals/boyd/chase dataframe with the higgins_df on the week column
df =  pd.merge(df, higgins_df, on="Week", how="outer") # outer is union,

Checking the dataframe again

In [63]:
# print the dataframe
df

,Week,Opponent,Location,Result,Boyd Yards,Boyd TD,Chase Yards,Chase TD,Higgins Yards,Higgins TD
0,PRE1,TB,Away,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,PRE2,WSH,Away,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,PRE3,MIA,Home,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,REG1,MIN,Home,1.0,32.0,0.0,101.0,1.0,58.0,1.0
4,REG2,CHI,Away,0.0,73.0,0.0,54.0,1.0,60.0,1.0
5,REG3,PIT,Away,1.0,36.0,1.0,65.0,2.0,NaN,NaN
6,REG4,JAX,Home,1.0,118.0,0.0,77.0,0.0,NaN,NaN
7,REG5,GB,Home,0.0,24.0,0.0,159.0,1.0,32.0,0.0
8,REG6,DET,Away,1.0,7.0,0.0,97.0,0.0,44.0,0.0
9,REG7,BAL,Away,1.0,39.0,0.0,201.0,1.0,62.0,0.0
10,REG8,NYJ,Away,0.0,69.0,1.0,32.0,1.0,97.0,0.0
11,REG9,CLE,Home,0.0,11.0,0.0,49.0,0.0,78.0,0.0
12,REG10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,REG11,LV,Away,1.0,49.0,0.0,32.0,1.0,15.0,0.0
14,REG12,PIT,Home,1.0,13.0,0.0,39.0,0.0,114.0,1.0
15,REG13,LAC,Home,0.0,85.0,0.0,52.0,0.0,138.0,1.0
16,REG14,SF,Home,0.0,55.0,0.0,77.0,2.0,114.0,0.0
17,REG15,DEN,Away,1.0,96.0,1.0,3.0,0.0,23.0,0.0
18,REG16,BAL,Home,1.0,85.0,1.0,125.0,0.0,194.0,2.0
19,REG17,KC,Home,1.0,36.0,1.0,266.0,3.0,62.0,0.0
20,REG18,CLE,Away,0.0,NaN,NaN,26.0,0.0,NaN,NaN
21,POST1,LV,Home,1.0,26.0,1.0,116.0,0.0,10.0,0.0
22,POST2,TEN,Away,1.0,17.0,0.0,109.0,0.0,96.0,0.0
23,POST3,KC,Away,1.0,19.0,0.0,54.0,1.0,103.0,0.0
24,POST4,LAR,Neutral,0.0,48.0,0.0,89.0,0.0,100.0,2.0

Fill in the NaN's with 0's, for those games.

In [109]:
# fill in nanes with 0's 
df = df.fillna(0)

In [65]:
# print the dataframe
df

,Week,Opponent,Location,Result,Boyd Yards,Boyd TD,Chase Yards,Chase TD,Higgins Yards,Higgins TD
0,PRE1,TB,Away,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,PRE2,WSH,Away,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,PRE3,MIA,Home,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,REG1,MIN,Home,1.0,32.0,0.0,101.0,1.0,58.0,1.0
4,REG2,CHI,Away,0.0,73.0,0.0,54.0,1.0,60.0,1.0
5,REG3,PIT,Away,1.0,36.0,1.0,65.0,2.0,0.0,0.0
6,REG4,JAX,Home,1.0,118.0,0.0,77.0,0.0,0.0,0.0
7,REG5,GB,Home,0.0,24.0,0.0,159.0,1.0,32.0,0.0
8,REG6,DET,Away,1.0,7.0,0.0,97.0,0.0,44.0,0.0
9,REG7,BAL,Away,1.0,39.0,0.0,201.0,1.0,62.0,0.0
10,REG8,NYJ,Away,0.0,69.0,1.0,32.0,1.0,97.0,0.0
11,REG9,CLE,Home,0.0,11.0,0.0,49.0,0.0,78.0,0.0
12,REG10,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,REG11,LV,Away,1.0,49.0,0.0,32.0,1.0,15.0,0.0
14,REG12,PIT,Home,1.0,13.0,0.0,39.0,0.0,114.0,1.0
15,REG13,LAC,Home,0.0,85.0,0.0,52.0,0.0,138.0,1.0
16,REG14,SF,Home,0.0,55.0,0.0,77.0,2.0,114.0,0.0
17,REG15,DEN,Away,1.0,96.0,1.0,3.0,0.0,23.0,0.0
18,REG16,BAL,Home,1.0,85.0,1.0,125.0,0.0,194.0,2.0
19,REG17,KC,Home,1.0,36.0,1.0,266.0,3.0,62.0,0.0
20,REG18,CLE,Away,0.0,0.0,0.0,26.0,0.0,0.0,0.0
21,POST1,LV,Home,1.0,26.0,1.0,116.0,0.0,10.0,0.0
22,POST2,TEN,Away,1.0,17.0,0.0,109.0,0.0,96.0,0.0
23,POST3,KC,Away,1.0,19.0,0.0,54.0,1.0,103.0,0.0
24,POST4,LAR,Neutral,0.0,48.0,0.0,89.0,0.0,100.0,2.0

As instructed, replace the ‘1.0’ or ‘0.0’ values in the Result field to display ‘Win’ or ‘Loss’,
respectively. Do this with a dictionary mapping those values

In [92]:
# dictionary mapping the numbers representing the result to the strings "Win" or "Loss"
replace_keys = {
    0.0 : "Loss",
    1.0 : "Win"
}

# replace the floats in "Results" column with the dictionary
df = df.replace({"Result" : replace_keys})

Regular Season Week 10 was a BYE week for the Bengals, but the *.csv* file has a 0 for this week in the results. Instead of displaying this as a "Loss", simply rename this as "Bye", so that when adding up the total Wins/Losses later, the record is accurate.

In [98]:
# rename Regular Season Week 10 (index=12) as a "Bye"
df.at[12, 'Result'] = "Bye"

Check the dataframe again for accuracy.

In [99]:
# print the dataframe
df

,Week,Opponent,Location,Result,Boyd Yards,Boyd TD,Chase Yards,Chase TD,Higgins Yards,Higgins TD
0,PRE1,TB,Away,Win,0.0,0.0,0.0,0.0,0.0,0.0
1,PRE2,WSH,Away,Loss,0.0,0.0,0.0,0.0,0.0,0.0
2,PRE3,MIA,Home,Loss,0.0,0.0,0.0,0.0,0.0,0.0
3,REG1,MIN,Home,Win,32.0,0.0,101.0,1.0,58.0,1.0
4,REG2,CHI,Away,Loss,73.0,0.0,54.0,1.0,60.0,1.0
5,REG3,PIT,Away,Win,36.0,1.0,65.0,2.0,0.0,0.0
6,REG4,JAX,Home,Win,118.0,0.0,77.0,0.0,0.0,0.0
7,REG5,GB,Home,Loss,24.0,0.0,159.0,1.0,32.0,0.0
8,REG6,DET,Away,Win,7.0,0.0,97.0,0.0,44.0,0.0
9,REG7,BAL,Away,Win,39.0,0.0,201.0,1.0,62.0,0.0
10,REG8,NYJ,Away,Loss,69.0,1.0,32.0,1.0,97.0,0.0
11,REG9,CLE,Home,Loss,11.0,0.0,49.0,0.0,78.0,0.0
12,REG10,0,0,Bye,0.0,0.0,0.0,0.0,0.0,0.0
13,REG11,LV,Away,Win,49.0,0.0,32.0,1.0,15.0,0.0
14,REG12,PIT,Home,Win,13.0,0.0,39.0,0.0,114.0,1.0
15,REG13,LAC,Home,Loss,85.0,0.0,52.0,0.0,138.0,1.0
16,REG14,SF,Home,Loss,55.0,0.0,77.0,2.0,114.0,0.0
17,REG15,DEN,Away,Win,96.0,1.0,3.0,0.0,23.0,0.0
18,REG16,BAL,Home,Win,85.0,1.0,125.0,0.0,194.0,2.0
19,REG17,KC,Home,Win,36.0,1.0,266.0,3.0,62.0,0.0
20,REG18,CLE,Away,Loss,0.0,0.0,26.0,0.0,0.0,0.0
21,POST1,LV,Home,Win,26.0,1.0,116.0,0.0,10.0,0.0
22,POST2,TEN,Away,Win,17.0,0.0,109.0,0.0,96.0,0.0
23,POST3,KC,Away,Win,19.0,0.0,54.0,1.0,103.0,0.0
24,POST4,LAR,Neutral,Loss,48.0,0.0,89.0,0.0,100.0,2.0

Write the dataframe to a postgresql DB using the credentials:
- Database host: *ls-2619b6b15c9bdc80a23f6afb7eee54cf0247da21.ca3yee6xneaj.us-east-1.rds.amazonaws.com*
- Username: *jared_wofford*
- Password: *waredjofford*
- Table Name you are writing to: *jared_wofford*
- Database name: postgres

I can do this by leveraging *create_engine* from *sqlalchemy*. This takes in the connection URL and returns a *sqlalchemy* engine that connects to a database via a *Dialect* and *Pool*

In [110]:
# create the engine to connect to the database
engine = create_engine('postgresql://jared_wofford:waredjofford@ls-2619b6b15c9bdc80a23f6afb7eee54cf0247da21.ca3yee6xneaj.us-east-1.rds.amazonaws.com:5432/postgres')

# write the dataframe to the table jared_wofford
df.to_sql('jared_wofford', engine, if_exists='replace', index=False)

25

Quick check that the table has been written correctly

In [102]:
# SQL string to get the whole table
sql = "SELECT * FROM jared_wofford"

# run the sql query with the SQLAlchemy engine created as before. 
jared_wofford_df = pd.read_sql(sql,con=engine)

In [103]:
# print the downloaded dataframe
jared_wofford_df

,Week,Opponent,Location,Result,Boyd Yards,Boyd TD,Chase Yards,Chase TD,Higgins Yards,Higgins TD
0,PRE1,TB,Away,Win,0.0,0.0,0.0,0.0,0.0,0.0
1,PRE2,WSH,Away,Loss,0.0,0.0,0.0,0.0,0.0,0.0
2,PRE3,MIA,Home,Loss,0.0,0.0,0.0,0.0,0.0,0.0
3,REG1,MIN,Home,Win,32.0,0.0,101.0,1.0,58.0,1.0
4,REG2,CHI,Away,Loss,73.0,0.0,54.0,1.0,60.0,1.0
5,REG3,PIT,Away,Win,36.0,1.0,65.0,2.0,0.0,0.0
6,REG4,JAX,Home,Win,118.0,0.0,77.0,0.0,0.0,0.0
7,REG5,GB,Home,Loss,24.0,0.0,159.0,1.0,32.0,0.0
8,REG6,DET,Away,Win,7.0,0.0,97.0,0.0,44.0,0.0
9,REG7,BAL,Away,Win,39.0,0.0,201.0,1.0,62.0,0.0
10,REG8,NYJ,Away,Loss,69.0,1.0,32.0,1.0,97.0,0.0
11,REG9,CLE,Home,Loss,11.0,0.0,49.0,0.0,78.0,0.0
12,REG10,0,0,Bye,0.0,0.0,0.0,0.0,0.0,0.0
13,REG11,LV,Away,Win,49.0,0.0,32.0,1.0,15.0,0.0
14,REG12,PIT,Home,Win,13.0,0.0,39.0,0.0,114.0,1.0
15,REG13,LAC,Home,Loss,85.0,0.0,52.0,0.0,138.0,1.0
16,REG14,SF,Home,Loss,55.0,0.0,77.0,2.0,114.0,0.0
17,REG15,DEN,Away,Win,96.0,1.0,3.0,0.0,23.0,0.0
18,REG16,BAL,Home,Win,85.0,1.0,125.0,0.0,194.0,2.0
19,REG17,KC,Home,Win,36.0,1.0,266.0,3.0,62.0,0.0
20,REG18,CLE,Away,Loss,0.0,0.0,26.0,0.0,0.0,0.0
21,POST1,LV,Home,Win,26.0,1.0,116.0,0.0,10.0,0.0
22,POST2,TEN,Away,Win,17.0,0.0,109.0,0.0,96.0,0.0
23,POST3,KC,Away,Win,19.0,0.0,54.0,1.0,103.0,0.0
24,POST4,LAR,Neutral,Loss,48.0,0.0,89.0,0.0,100.0,2.0

The next instruction states to use *DBeaver* to ensure that all the data is present, and then Write an SQL Query to show the **total** yards each receiver had through the season as well as the team's record displayed as *# of Wins - # of Losses*. 


This script is saved as *./Reciever_Record_Script.sql* in this repository. *cat* the contents of this script to see the commands

In [112]:
# execute bash command cat
! cat Reciever_Record_Script.sql

select
SUM("Boyd Yards") as "Boyd Yards" , SUM("Higgins Yards") as "Higgins Yards", SUM("Chase Yards") as "Chase Yards",
concat(count(case when "Result" = 'Win' then 1 else null end), '-', count(case when "Result" = 'Loss' then 1 else null end)) as "Win/Loss"
from jared_wofford ;

I've taken a screenshot and saved this output as *Reciever_Record_Script_Output.png*. This displays 

<img src="Reciever_Record_Script_Output.png" />